### Data Frame  Attributes and Methods

- Methods ends with parantheses
- Attributes do not

### Read the dataset

- To read a csv file, use read_csv() function of pandas library.

In [1]:
import pandas as pd

In [2]:
exam_scores = pd.read_csv('exam_scores.csv')

# Attributes of Dataframes

### shape attribute
- shape: It will help you to know what is the shape of your Dataframe i.e. (number of rows, number of columns)
- After we have loaded the data we can check the shape of the Dataframe using shape attribute.

In [3]:
# shape attributes - Determines the number of rows and columns
# 
exam_scores.shape

(1000, 8)

- The dataframe has 1000 rows and 8 columns.
- Total number of entires = 1000 x 8

### dtypes attributes

- Helps usto know about the data types of each column.
- To know the data types associated with each column, we can use dtypes attribute.

In [4]:
exam_scores.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

# Dataframe methods

### head()

- head( ): Allows us to see the first five observations of your dataframe. Helps us to get some idea related to the content of the data frame.

In [5]:
exam_scores.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,bachelor's degree,standard,none,74,68,67
1,female,group C,some college,standard,completed,58,68,66
2,male,group C,some college,free/reduced,none,66,65,65
3,female,group D,bachelor's degree,free/reduced,none,74,75,73
4,male,group D,some college,standard,none,78,77,71

### tail()

- Gives the last five observations of the dataframe

In [6]:
exam_scores.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group C,some high school,standard,none,68,77,72
996,female,group E,some college,standard,none,98,81,94
997,female,group E,associate's degree,free/reduced,none,67,67,67
998,female,group C,high school,standard,none,63,68,70
999,male,group C,some college,free/reduced,none,49,57,50

### info()

- Returns concise summary of the data frame

In [7]:
exam_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB