<a href="https://colab.research.google.com/github/EthanDuog/Datetime_Pandas/blob/main/Datetime_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datetime_Pandas
How Pandas handles dates and times through the DateTime data type.

Dates and times are an essential part of many data sets and can play a critical role in data analysis. In this blog, we'll explore how to work with dates and times in Pandas, one of the most widely used data analysis libraries in Python.

First, let's cover the basics. In Pandas, dates and times are stored as special data types, namely Timestamp and DatetimeIndex. To create a Timestamp, we can use the pandas.Timestamp function, which accepts a variety of inputs, including strings and integers. DatetimeIndex is a type of Index in Pandas that is specifically designed to store dates and times. To create a DatetimeIndex, we can use the pandas.to_datetime function, which can parse a wide range of date and time formats.

# Outline:
Convert string to datetime and handle missing values.

1. Convert string to datetime and handle missing values
2. Assemble datetime from multiple columns.
3. Extract year month day from a date column.
4. Select data between two dates.
5. Calculate the duration between two dates.
6. Select data with a specific year and perform aggregations.

**1. Convert string to datatime and handle missing values**

In [2]:
import pandas as pd
df = pd.DataFrame({'date': ['2016-6-10 20:30:0', 
                            '2016-7-1 19:45:30', 
                            '2013-10-12 4:5:1'],
                   'value': [2, 3, 4]})
df

df['date'] = pd.to_datetime(df['date'], dayfirst = False)


df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")

The date data types is still string. We can use to_datetime function to convert it to datetime data type.
If the given format is not in order, you can custom date format.

In [3]:
#Handle Null value
# Ignore it: (the incorrect or null value still be read in string format)
df['date'] = pd.to_datetime(df['date'], errors='ignore')

# Eliminate it (let s assume there are null values in date column: 
df = df.dropna(subset=['date'])
# if you want to drop null value in multiple columns you can just add more
# column name in the subset (beside date)

**2. Assemble datetime from multiple columns.**

In [19]:
df = pd.DataFrame({'id': ['1', '2', '3', '4'],
                   'name': ['Ethan', 'Alison', 'Jolie', 'nick'],
                   'date': ['2022-01-01', '2022-01-02', '2022-01-03','2022-01-04' ],
                   'time': ['12:00:00', '13:00:00', '14:00:00', '15:00:00']})

df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'])

**3. Extract year month day from a date column.**

In [22]:
df['year']= df['datetime'].dt.year
df['month']= df['datetime'].dt.month
df['day']= df['datetime'].dt.day

df['year']

df['month']

0    1
1    1
2    1
3    1
Name: month, dtype: int64

**4. Select data between two dates.**

In [12]:
start_date = '2022-01-02'
end_date = '2022-01-04'

mask = (df['datetime'] >= start_date) & (df['datetime'] <= end_date)
result = df.loc[mask]

print(result)

  id    name        date      time            datetime  year  month  day
1  2  Alison  2022-01-02  13:00:00 2022-01-02 13:00:00  2022      1    2
2  3   Jolie  2022-01-03  14:00:00 2022-01-03 14:00:00  2022      1    3

**5. Calculate the duration between two dates.**

In [13]:
df['second_datetime'] = pd.to_datetime('2022-01-06 12:00:00')
df['duration'] = df['second_datetime'] - df['datetime']
df['duration_days'] = df['duration'].dt.days

**6. Select data with a specific year and perform aggregations.**

In [32]:
df = pd.DataFrame({'id': ['0','1', '2', '3', '4','5'],
                   'candy':['4','2','1','4','5','5'],
                   'name': ['Ethan', 'Alison', 'Jolie', 'nick','Hai','Jpl'],
                   'birth_day': ['2021-01-01', '2022-01-02', '2022-01-03','2024-01-04','2028-01-02','2022-01-02'],
                   'play_hour': ['12:00:00', '13:00:00', '14:00:00', '15:00:00','13:00:00','13:00:00']})

df['birth_day']

0    2021-01-01
1    2022-01-02
2    2022-01-03
3    2024-01-04
4    2028-01-02
5    2022-01-02
Name: birth_day, dtype: object

In [34]:
#Change candy to numeric and change birth_daty to datetime 
df['candy'] = pd.to_numeric(df['candy'])
df['birth_day'] = pd.to_datetime(df['birth_day'])

In [35]:
#get the year from birth_day
year_born = df['birth_day'].dt.year

#get data for people born in 2022, then group by year born, sum up 
df_day = df[year_born == 2022].groupby(year_born).sum()
df_day

C:\Users\Radhakrishna\AppData\Local\Temp\ipykernel_17736\3818894821.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_day = df[year_born == 2022].groupby(year_born).sum()

           candy
birth_day
2022           8