## Working with Date and Time in Pandas

In [1]:
import pandas as pd
import datetime as dt

### Review Python's `datetime` module

In [2]:
today = dt.date(2019, 12, 22)

In [3]:
today.day
today.month
today.year

2019

In [4]:
today = dt.datetime(2019, 12, 22, 17, 13, 34)

In [5]:
print(today)

2019-12-22 17:13:34

In [6]:
today.hour
today.minute
today.second

34

### `Timestamp`

In [7]:
pd.Timestamp("2019-12-22")
pd.Timestamp("2019/12/22")
pd.Timestamp("2019, 12, 22")
pd.Timestamp("2019-12-22 17:23:45")
pd.Timestamp("2019-12-22 05:23:45 PM")

Timestamp('2019-12-22 17:23:45')

### `DateTimeIndex`

In [8]:
dates = ['2019/12/22', '2019/12/23', '2019/12/24']

In [9]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2019-12-22', '2019-12-23', '2019-12-24'], dtype='datetime64[ns]', freq=None)

In [10]:
type(dates)

list

In [11]:
dates = [dt.date(2019, 12, 22), dt.date(2019, 12, 23), dt.date(2019, 12, 24)]

In [12]:
dateIndex = pd.DatetimeIndex(dates)
dateIndex

DatetimeIndex(['2019-12-22', '2019-12-23', '2019-12-24'], dtype='datetime64[ns]', freq=None)

In [13]:
values = [12, 13, 10]
pd.Series(data = values, index = dateIndex)

2019-12-22    12
2019-12-23    13
2019-12-24    10
dtype: int64

### `pd.to_datetime()`

In [14]:
pd.to_datetime('2019/12/22')

Timestamp('2019-12-22 00:00:00')

In [15]:
pd.to_datetime(dt.date(2019, 12, 22))

Timestamp('2019-12-22 00:00:00')

In [16]:
pd.to_datetime(dt.datetime(2019, 12, 22, 17, 23, 45))

Timestamp('2019-12-22 17:23:45')

In [17]:
dates = ['2019/12/22', '2019/12/23', '2019/12/24']
pd.to_datetime(dates)

DatetimeIndex(['2019-12-22', '2019-12-23', '2019-12-24'], dtype='datetime64[ns]', freq=None)

In [18]:
dates = pd.Series(['December 22nd, 2019', "2019, 12, 22", "This is Date", 'Dec 23rd, 2019', '24th Dec, 2019'])

In [19]:
dates

0    December 22nd, 2019
1           2019, 12, 22
2           This is Date
3         Dec 23rd, 2019
4         24th Dec, 2019
dtype: object

In [20]:
pd.to_datetime(dates, errors='coerce')

0   2019-12-22
1   2019-12-22
2          NaT
3   2019-12-23
4   2019-12-24
dtype: datetime64[ns]

In [21]:
unixtime = [12344563, 23456323, 34567534, 23483922]

In [22]:
pd.to_datetime(unixtime, unit='s')

DatetimeIndex(['1970-05-23 21:02:43', '1970-09-29 11:38:43',
               '1971-02-05 02:05:34', '1970-09-29 19:18:42'],
              dtype='datetime64[ns]', freq=None)

### Create Range in the form of Date `pd.date_range()`

In [23]:
times = pd.date_range(start = "2019-12-22", end = "2020-12-22", freq = 'D')

In [24]:
times

DatetimeIndex(['2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
               '2019-12-30', '2019-12-31',
               ...
               '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16',
               '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20',
               '2020-12-21', '2020-12-22'],
              dtype='datetime64[ns]', length=367, freq='D')

In [25]:
times = pd.date_range(start = "2019-12-22", end = "2023-12-22", freq = '4W')
times

DatetimeIndex(['2019-12-22', '2020-01-19', '2020-02-16', '2020-03-15',
               '2020-04-12', '2020-05-10', '2020-06-07', '2020-07-05',
               '2020-08-02', '2020-08-30', '2020-09-27', '2020-10-25',
               '2020-11-22', '2020-12-20', '2021-01-17', '2021-02-14',
               '2021-03-14', '2021-04-11', '2021-05-09', '2021-06-06',
               '2021-07-04', '2021-08-01', '2021-08-29', '2021-09-26',
               '2021-10-24', '2021-11-21', '2021-12-19', '2022-01-16',
               '2022-02-13', '2022-03-13', '2022-04-10', '2022-05-08',
               '2022-06-05', '2022-07-03', '2022-07-31', '2022-08-28',
               '2022-09-25', '2022-10-23', '2022-11-20', '2022-12-18',
               '2023-01-15', '2023-02-12', '2023-03-12', '2023-04-09',
               '2023-05-07', '2023-06-04', '2023-07-02', '2023-07-30',
               '2023-08-27', '2023-09-24', '2023-10-22', '2023-11-19',
               '2023-12-17'],
              dtype='datetime64[ns]', freq='4W-SUN')

In [26]:
times = pd.date_range(start = "2019-12-22", end = "2019-12-30", freq = 'H')
times

DatetimeIndex(['2019-12-22 00:00:00', '2019-12-22 01:00:00',
               '2019-12-22 02:00:00', '2019-12-22 03:00:00',
               '2019-12-22 04:00:00', '2019-12-22 05:00:00',
               '2019-12-22 06:00:00', '2019-12-22 07:00:00',
               '2019-12-22 08:00:00', '2019-12-22 09:00:00',
               ...
               '2019-12-29 15:00:00', '2019-12-29 16:00:00',
               '2019-12-29 17:00:00', '2019-12-29 18:00:00',
               '2019-12-29 19:00:00', '2019-12-29 20:00:00',
               '2019-12-29 21:00:00', '2019-12-29 22:00:00',
               '2019-12-29 23:00:00', '2019-12-30 00:00:00'],
              dtype='datetime64[ns]', length=193, freq='H')

### Import Stock Data using `datareader`

In [28]:
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [37]:
# !pip install pandas_datareader

In [34]:
company = "MSFT"
start = "2019-01-01"
end = "2019-12-22"

stocks = yf.download(tickers = "MSFT",
                  start = start,
                  end = end)

[*********************100%%**********************]  1 of 1 completed

In [35]:
stocks

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,99.550003,101.750000,98.940002,101.120003,96.218147,35329300
2019-01-03,100.099998,100.190002,97.199997,97.400002,92.678482,42579100
2019-01-04,99.720001,102.510002,98.930000,101.930000,96.988899,44060600
2019-01-07,101.639999,103.269997,100.980003,102.059998,97.112595,35656100
2019-01-08,103.040001,103.970001,101.709999,102.800003,97.816727,31514400
...,...,...,...,...,...,...
2019-12-16,155.110001,155.899994,154.820007,155.529999,150.178787,24144200
2019-12-17,155.449997,155.710007,154.449997,154.690002,149.367737,25425600
2019-12-18,154.300003,155.479996,154.179993,154.369995,149.058762,24129200
2019-12-19,154.000000,155.770004,153.750000,155.710007,150.352615,24958900
2019-12-20,157.350006,158.490005,156.289993,157.410004,151.994125,53477500

In [36]:
stocks.loc["2019-12-16"]

Open         1.551100e+02
High         1.559000e+02
Low          1.548200e+02
Close        1.555300e+02
Adj Close    1.501788e+02
Volume       2.414420e+07
Name: 2019-12-16 00:00:00, dtype: float64

In [37]:
stocks.iloc[242]

Open         1.554500e+02
High         1.557100e+02
Low          1.544500e+02
Close        1.546900e+02
Adj Close    1.493677e+02
Volume       2.542560e+07
Name: 2019-12-17 00:00:00, dtype: float64

In [80]:
stocks.loc["2019-12-1": "2019-12-16"]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-02,151.830002,148.320007,151.809998,149.550003,27418400.0,149.550003
2019-12-03,149.429993,146.649994,147.490005,149.309998,24066000.0,149.309998
2019-12-04,150.179993,149.199997,150.139999,149.850006,17574700.0,149.850006
2019-12-05,150.320007,149.479996,150.050003,149.929993,17869100.0,149.929993
2019-12-06,151.869995,150.270004,150.990005,151.750000,16403500.0,151.750000
2019-12-09,152.210007,150.910004,151.070007,151.360001,16687400.0,151.360001
2019-12-10,151.889999,150.759995,151.289993,151.130005,16476100.0,151.130005
2019-12-11,151.869995,150.330002,151.539993,151.699997,18856600.0,151.699997
2019-12-12,153.440002,151.020004,151.649994,153.240005,24612100.0,153.240005
2019-12-13,154.889999,152.830002,153.000000,154.529999,23845400.0,154.529999
2019-12-16,155.899994,154.820007,155.110001,155.529999,24144200.0,155.529999

In [38]:
stocks.truncate(before = "2019-12-1", after = '2019-12-16')

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-02,151.809998,151.830002,148.320007,149.550003,144.404572,27418400
2019-12-03,147.490005,149.429993,146.649994,149.309998,144.172791,24066000
2019-12-04,150.139999,150.179993,149.199997,149.850006,144.694229,17574700
2019-12-05,150.050003,150.320007,149.479996,149.929993,144.771469,17869100
2019-12-06,150.990005,151.869995,150.270004,151.750000,146.528839,16403500
2019-12-09,151.070007,152.210007,150.910004,151.360001,146.152267,16687400
2019-12-10,151.289993,151.889999,150.759995,151.130005,145.930191,16476100
2019-12-11,151.539993,151.869995,150.330002,151.699997,146.480576,18856600
2019-12-12,151.649994,153.440002,151.020004,153.240005,147.967606,24612100
2019-12-13,153.000000,154.889999,152.830002,154.529999,149.213226,23845400
2019-12-16,155.110001,155.899994,154.820007,155.529999,150.178787,24144200

### `Timedelta`

In [39]:
timeA = pd.Timestamp('2019-12-22 17:23:34')
timeB = pd.Timestamp('2019-12-23 19:03:14')

In [40]:
timeB-timeA

Timedelta('1 days 01:39:40')

In [41]:
pd.Timedelta(weeks = 10, days = 2, hours = 3, minutes = 23)

Timedelta('72 days 03:23:00')

In [43]:
df = pd.read_csv('../datasets/ecommerce.csv', index_col='ID', parse_dates = ['order_date', 'delivery_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 1 to 997
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    datetime64[ns]
 1   delivery_date  501 non-null    datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 11.7 KB

In [44]:
df.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [45]:
df['Delivery Time'] = df['delivery_date'] - df['order_date']

In [46]:
df.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days