In [1]:
import pandas as pd
import numpy as np

## Changing Options with Attributes and Dot Syntax

In [2]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,3,30,84,23,27,58,53,44,1,95,...,92,47,12,46,48,35,55,62,23,27
999,63,67,22,44,77,29,46,67,38,4,...,5,77,11,41,45,11,82,4,49,27

In [3]:
pd.options.display.max_rows = 4

In [4]:
pd.options.display.max_columns = 8

In [5]:
df

     0   1   2   3   ...  46  47  48  49
0    37   9  66  77  ...  44  87  23  12
1    67  51  88  52  ...  44  42  58  85
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
998   3  30  84  23  ...  55  62  23  27
999  63  67  22  44  ...  82   4  49  27

[1000 rows x 50 columns]

## Changing `pandas` Options with Methods

In [6]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

     0   1   2   3   ...  46  47  48  49
998  48  79  14  38  ...  29  31  39  74
999  94  66  97   5  ...  56  88  71  87

[2 rows x 50 columns]

In [9]:
#pd.get_option("max_rows")

pd.options.display.max_rows

4

In [10]:
# pd.get_option("max_columns")
pd.options.display.max_columns

8

In [14]:
pd.set_option("display.max_columns", 20)
# pd.options.display.max_columns = 20

In [15]:
pd.options.display.max_columns = 10

In [18]:
pd.options.display.max_columns

10

In [19]:
pd.reset_option("max_columns")

In [20]:
pd.options.display.max_columns

20

In [21]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]

## The `precision` Option

In [22]:
df = pd.DataFrame(np.random.randn(5, 5))
df

           0         1         2         3         4
0   1.270163 -0.164214 -0.328261 -0.841612 -1.271630
1   1.224140 -0.171705  0.394401  1.648613 -0.806567
..       ...       ...       ...       ...       ...
3   0.834400  1.055146 -0.395349 -1.208452 -0.542243
4   1.252629  0.315244 -0.097267 -0.803453  0.027803

[5 rows x 5 columns]

In [24]:
pd.options.display.precision

6

In [25]:
pd.set_option("display.precision", 2)

In [26]:
df

       0     1     2     3     4
0   1.27 -0.16 -0.33 -0.84 -1.27
1   1.22 -0.17  0.39  1.65 -0.81
..   ...   ...   ...   ...   ...
3   0.83  1.06 -0.40 -1.21 -0.54
4   1.25  0.32 -0.10 -0.80  0.03

[5 rows x 5 columns]

In [27]:
pd.reset_option("precision")

## The `chop_threshold()` Option

In [28]:
df = pd.DataFrame(np.random.randn(10, 10))
df

,0,1,2,3,4,5,6,7,8,9
0,0.117487,-0.377730,0.057431,-0.025953,0.976292,-0.734737,-0.204425,1.201101,1.022942,-0.064906
1,0.841782,0.101511,-0.599167,0.911919,1.684710,-0.502459,-0.555026,1.093726,-0.268000,0.352148
...,...,...,...,...,...,...,...,...,...,...
8,-0.361637,-1.252706,-0.729521,-0.372673,1.553822,1.060215,0.295905,-1.311411,-0.383468,0.268941
9,-0.781729,0.813982,1.076134,0.116885,-1.263838,0.844019,-1.095982,0.899598,0.927274,-0.724403

In [29]:
pd.set_option("display.chop_threshold", 1)

In [30]:
pd.reset_option("chop_threshold")

In [31]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.117487,-0.377730,0.057431,-0.025953,0.976292,-0.734737,-0.204425,1.201101,1.022942,-0.064906
1,0.841782,0.101511,-0.599167,0.911919,1.684710,-0.502459,-0.555026,1.093726,-0.268000,0.352148
...,...,...,...,...,...,...,...,...,...,...
8,-0.361637,-1.252706,-0.729521,-0.372673,1.553822,1.060215,0.295905,-1.311411,-0.383468,0.268941
9,-0.781729,0.813982,1.076134,0.116885,-1.263838,0.844019,-1.095982,0.899598,0.927274,-0.724403